{
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y",
  ],
  "rules": {
    "react/no-deprecated": 0,
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": false,
      "jsxBracketSameLine": true,
      "parser": "babylon",
    }],
    "jsx-a11y/href-no-hash": "off"
  }
}