@import './css/_minireset.scss';
@import './css/_helpers.scss';

.app {
  display: flex;
  flex-direction: column;

  &-btn {
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
    min-width: 150px;
    padding: calc(#{$default-padding} / 2) $default-padding;
    pointer-events: all;
  }

  &-slider {
    display: flex;
    padding: $default-padding;
    margin-right: 10px;
    pointer-events: none;
    @media (max-width: $screen-sm) {
      flex: 1;
      margin-right: 0;
    }
  }

  &-slider-input {
    margin: auto auto 5px;
    min-width: 200px;
    pointer-events: all;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: '';
      display: inline-block;
      font-size: 30px;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -30px;
    }

    &:before {
      content: '🐢';
      left: -10px;
    }

    &:after {
      content: '🚀';
      right: -10px;
    }
  }

  &-menu {
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }

  &-score-wrapper {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex: 1 1 0;
    padding: $default-padding;
  }

  &-score {
    background: #fff;
    border-radius: 50%;
    font-size: 28px;
    min-width: 50px;
    text-align: center;
    padding: 10px;
  }

  &-game {
    background: #fff;

    &:hover {
      cursor: crosshair;
    }
  }

  &-instructions {
    border-radius: 4px;
    border: 5px solid #efefef;
    font-size: 24px;
    left: 0;
    margin: 0 auto;
    padding: $default-padding;
    position: absolute;
    right: 0;
    top: 25vh;
    width: 75vw;
  }
}
