@import './css/_minireset.scss';
@import './css/_helpers.scss';

body {
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;

  &-btn {
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
    min-width: 150px;
    padding: calc(#{$default-padding} / 2) $default-padding;
    pointer-events: all;
  }

  &-tools {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: $default-padding $default-padding 0;
    @media (max-width: $screen-sm) {
      flex: 1;
    }
  }

  &-slider {
    display: flex;
    margin-right: 20px;
    pointer-events: none;
  }

  &-slider-input {
    margin: auto auto 5px;
    min-width: 200px;
    pointer-events: all;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: '';
      display: inline-block;
      font-size: $icon-size;
      width: $icon-size;
      height: $icon-size;
      position: absolute;
      top: -$icon-size;
    }

    &:before {
      content: '🐢';
      left: -10px;
    }

    &:after {
      content: '🚀';
      right: -10px;
    }
  }

  &-menu {
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }

  &-score-wrapper {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex: 1 1 0;
    padding: $default-padding $default-padding 0;
  }

  &-score {
    background: #fff;
    border-radius: 50%;
    font-size: 28px;
    min-width: 50px;
    text-align: center;
    padding: 10px;
  }

  &-game {
    background: #fff;

    &:hover {
      cursor: crosshair;
    }
  }

  &-instructions {
    border-radius: 4px;
    border: 5px solid #efefef;
    font-size: 24px;
    left: 0;
    margin: 0 auto;
    padding: $default-padding;
    position: absolute;
    right: 0;
    top: 25vh;
    width: 75vw;
  }

  &-brutal {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $icon-size;
    pointer-events: all;

    input {
      cursor: pointer;
      font-size: $icon-size;
    }

    label {
      cursor: pointer;
    }
  }
}
