@charset "UTF-8";
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.sr-only {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute; }

.app {
  display: flex;
  flex-direction: column; }
  .app-btn {
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
    min-width: 150px;
    padding: calc(20px / 2) 20px;
    pointer-events: all; }
  .app-slider {
    display: flex;
    padding: 20px;
    pointer-events: none; }
    @media (max-width: 480px) {
      .app-slider {
        flex: 1; } }
  .app-slider-input {
    margin: auto auto 5px;
    min-width: 200px;
    pointer-events: all;
    position: relative; }
    .app-slider-input:hover {
      cursor: pointer; }
    .app-slider-input:before, .app-slider-input:after {
      content: '';
      display: inline-block;
      font-size: 30px;
      width: 30px;
      height: 30px;
      position: absolute;
      top: -30px; }
    .app-slider-input:before {
      content: '🐢';
      left: -10px; }
    .app-slider-input:after {
      content: '🚀';
      right: -10px; }
  .app-menu {
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; }
  .app-score-wrapper {
    align-content: space-between;
    align-items: center;
    display: flex;
    flex: 1 1 0;
    padding: 20px; }
  .app-score {
    background: #fff;
    border-radius: 50%;
    font-size: 28px;
    min-width: 50px;
    text-align: center;
    padding: 10px; }
  .app-game {
    background: #fff; }
